.main {
    padding-top: 100px; // Adjust the padding as needed
    padding-left: 8%; // Add horizontal padding
    padding-right: 8%; // Add horizontal padding
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212; // Dark background color
}
